<%= form_with(model: post, local: true) do |form| %>



  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :post_name ,class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :post_description,class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :post_image,class: 'form-control' %>
  </div>
</div>

<div class="col-12 forgot">
  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
<% end %>
