<style type="text/css">
    header .container-fluid
{
    background-color: rgba(0,97,106,107);
    background-image: url("https://2.bp.blogspot.com/-7h8n6DByQnk/WudYY_YDgBI/AAAAAAAAXLA/xtRipA5FMxYrahS_hF3JaDMgTfvBPCesACLcBGAs/s1600/tec%2B%25287%2529.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    padding-top: 36px;
    padding-bottom: 4.2em;
}

.jumbotron
{
    background: none;
    text-align: left;
    top: 2px;
    color: white;
}

footer
{
    background-color: rgba(36, 50, 59, 1);
    padding-top: 2em;
    padding-bottom: 1.2em;
    color: #FFFFFF;
}
</style>
<header>
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Tema del mes gaming</h1>
    </div>
  </div>
</header>
<br>
<div class="container">
  <div class=" mt-5  pb-5 pt-3 border border-transparent" style="padding-top: 2em;" >

      <% @posts.each do |t| %>
  <img src="<%= t.image %>"  width="600" height="280" class="rounded float-left pl-4 " alt="">

    <div class="pl-5" style="text-align: center;">
    <h1 class="text-center">Name Post</h1>
    <br>
    <h1><%= t.name %></h1>
    <br>

    <a class="btn btn-primary btn-lg" href="<%= post_path(t) %>" role="button">Read more</a>
    <br>
    <br>
  <% end %>
</div>
</div>
</div>

<br>
<br>



<footer>
<div class="container">
  <h3>Blogs Recientes</h3>
  <br>
  <br>
  <div class="row">
  <div class="col-9" id="contenedora">
  <hr>
  <% @post.each do |t| %>
    <hr>
    <div class="media">
      <img src="<%= t.image %>" class="align-self-center mr-3" width="16%" height="120">
      <div class="media-body">
      <h5 class="mt-0"> <a href="#">NamePost: <%= t.name %> </a> </h5>
      <h5>Description</h5>
      <p><%=  truncate(t.description, :length =>80 ) %></p>
      <%= link_to 'Read More',post_path(t), class:"btn btn-warning btn-sm"   %>
      <% if (t.user_id == current_user.id) %>
      <%= link_to 'Edit',edit_post_path(t), class:"btn btn-primary btn-sm"   %>
      <%= link_to 'Destroy',t, method: :delete, data: {confirm: 'Are you Sure?'} , class:"btn btn-danger btn-sm"  %>
      <% end %>
      </div>
    </div>
  <% end %>
  </div>
  <div class="col-3">
    <div class="card my-4">
      <h5 class="card-header" style="color: black;">Categories</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled mb-0">
                <%-  @cats.each do |f|%>
              <li>
                <%= link_to f.name,post_index_path(:idCom => f.id), class:"btn btn-primary btn-sm"   %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>


    </div>

  </div>


  </div>

</div>

</footer>
